<?php

return [
    'dot_navigation' => [
        //enable menu item active if any child is active
        'active_recursion' => true,

        //map a provider name to its config
        'containers' => [
            'default' => [
                'type' => 'ArrayProvider'
                'options' => [
                    'items' => [
                        [
                            'options' => [
                                'label' => 'Menu #1',
                                'route' => 'home',
                            ],
                            'attributes' => [
                                'name' => 'Menu #1',
                            ]
                        ],
                        [
                            'options' => [
                                'label' => 'Menu #2',
                                'route' => 'home',
                            ],
                            'attributes' => [
                                'name' => 'Menu #1',
                            ]
                        ]
                    ],
                ],
            ],
        ],

        //register custom providers here
        'provider_manager' => [],
    ],
];
